<ion-header>
  <ion-toolbar>
    <ion-title>
      Test Capacitor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Capacitor info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Platform name: ...</li>
        <li>Native platform? ...</li>
        <li>Camera available? ...</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Device info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Name: ...</li>
        <li>Operating System: ...</li>
        <li>OS version: ...</li>
        <li>Manufacturer: ...</li>
        <li>Is virtual? ...</li>
        <li>UUID: ...</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Batery info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Battery level: ...</li>
        <li>Is charging? ...</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Network info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Is connected? ...</li>
        <li>Connection Type: ...</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Events log</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>onStart</li>
      </ul>
    </ion-card-content>
  </ion-card>

</ion-content>
